.container--heading {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
}

.container--heading__description {
    color: rgb(153, 153, 153);
}

.container--menu {
    padding-top: 30px;
    text-align: center;
}
.button{
    color: white;
    background-color: black;
    width: 100px;
    height: 30px;
}

.container--menu__1,
.container--menu__2,
.container--menu__3,
.container--menu__4 {
    display: inline-block;
    height: 400px;
    width: 230px;
    border: solid black 2px;
    text-align: center;

}

.container--contact {
    text-align: center;
    color: white;
    background-color: black;
}

.container--contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--contact__button {
    color: black;
    background-color: rgb(128, 201, 207);
    width: 400px;
    height: 40px;
    align-items: center;
    margin-bottom: 30px;
}

.container--menu__1 img,
.container--menu__2 img,
.container--menu__3 img,
.container--menu__4 img {
    image-resolution: top;
    width: 100%;
    height: 70%;
}